<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
   </ion-buttons>
    <ion-title>Create Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <div class="flex-center">
    <ion-card class="curve">
      <ion-card-header>
        <ion-card-title >Create Account</ion-card-title>
        
      </ion-card-header>
    
      <ion-card-content class="form-control" >
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="Password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirm Password</ion-label>
          <ion-input type="Password"></ion-input>
        </ion-item>
        <ion-button class="loginbtn" size="full">Create Account</ion-button> 
        <ion-button routerLink="/login" class="registerbtn" fill="clear" size="full">Already have an account?<br> Login</ion-button>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
