<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons  slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
    <ion-img id="clg_logo" src="./../assets/download.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card id="teacher_card">
    <ion-card-header>
      <ion-card-title>Hello, Devyani Kamle</ion-card-title>
      <ion-img src="./../../assets/icon/teacher (4).png" alt=""></ion-img>
      <ion-button>Take Attendance</ion-button>
      <p  id="cal"><ion-icon id="cal" color="light" name="calendar-sharp"></ion-icon>  04/02/2023</p>
    </ion-card-header>
  </ion-card>



  <ion-segment color="warning" value="Present">
    <ion-segment-button value="Present">
      <ion-label color="light">Present</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Absent">
      <ion-label color="light">Absent</ion-label>
    </ion-segment-button>
  </ion-segment>



  <ion-list>
    <ion-list-header>
      <ion-label>Present Student</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Paresh Chaudhari</ion-label>
    </ion-item>
  </ion-list>
  
  
  
</ion-content>
<ion-toolbar>
<ion-tabs >
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="schedule">
      <ion-icon color="light" name="home"></ion-icon>
      <ion-label color="light">Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="speakers">
      <ion-icon color="medium" name="person-circle"></ion-icon>
      <ion-label color="medium">Account</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon color="medium" name="settings"></ion-icon>
      <ion-label color="medium">Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-toolbar>

